/*////////////////////////////////////////////////////////////////////
////////// fixed and styled Royal Ontario Museum layers //////////////
////////////////////////////////////////////////////////////////////*/
.background-rom-and-moon {
	background-image: url(../assets/images/rom-and-moon.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	position: fixed; 
	height: 100%;
    width: 100%;}
.background-rom-cutout {
	background-image: url(../assets/images/rom-cutout-downside.png);
	position: fixed; z-index: 50; //first//
	background-color: transparent;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%; 
	width: 100%;}
.rom-cutout-upside {
	background-image: url(../assets/images/rom-cutout-upside.png);
	position: absolute; z-index: 60; //second//
	height: 150%; width: 100%; top: -50%;
	background-position: center;
	background-size: cover;
	object-fit: cover;
	opacity:.75;}
/*////////////////////////////////////////////////////////////////////
////////// cranes positioned and z-indexed ///////////////////////////
////////////////////////////////////////////////////////////////////*/
.rom-crane {
	background-image: url(../assets/images/rom-crane.png);
	position: absolute; z-index: 100; //third//
	height: 100%; width: 100%; max-width:700px; 
	background-repeat: no-repeat;
	background-size: contain;}
.rom-crane-mirror {
	background-image: url(../assets/images/rom-crane-mirror.png);
	right: 0px; background-clip: padding-box;
	position: absolute; z-index: 50; //fourth//
	height: 100%; width: 100%; max-width:700px; 
	background-repeat: no-repeat;
	background-size: cover;

}